.listing-footer
  .container
    .row
      .col-sm-6.col-xs-8
        %h4 Who We Are
        %p
          = Setting.first.footer

      .clearfix.visible-xs
      .col-sm-6.col-xs-8
        %h4 Contact Us
        %ul.list-unstyled
          %li
            %i.glyphicon.glyphicon-globe
            5610 S. Highway 27
            Somerset, KY 42501
          %li
            %i.glyphicon.glyphicon-phone
            T: (606) 561-5012
          %li
            %i.glyphicon.glyphicon-phone
            M: (606) 271-2149
          %li
            %i.glyphicon.glyphicon-phone
            F: (606) 561-8962
          %li
            %i.glyphicon.glyphicon-envelope
            %a{:href => "mailto:jrjackson5615012@yahoo.com"} jrjackson5615012@yahoo.com
        %br
        %br
        %p J.R. Jackson Auto Sales powered by EasyLot &copy; #{Time.now.year}.
