.listing-footer
  .container
    .row
      .col-sm-6.col-xs-8
        %h4 Who We Are
        %p
          J.R. Jackson Auto Sales in Burnside, Kentucky, close to the Tennessee
          border, has been the leading dealer in used equipment and commercial
          truck sales for over 35 years. We specialize in used light duty,
          medium duty, medium-heavy duty, and heavy duty truck sales as well as
          dump, conventional, bucket and box trucks, equipment and cars.
          Come take a look at our commercial truck inventory.

      .clearfix.visible-xs
      .col-sm-6.col-xs-8
        %h4 Contact Us
        %ul.list-unstyled
          %li
            %i.glyphicon.glyphicon-globe
            5610 S. Highway 27
            Somerset, KY 42501
          %li
            %i.glyphicon.glyphicon-phone
            T: (888) 724-8607
          %li
            %i.glyphicon.glyphicon-phone
            M: (606) 271-2149
          %li
            %i.glyphicon.glyphicon-phone
            F: (606) 561-8962
          %li
            %i.glyphicon.glyphicon-envelope
            %a{:href => "mailto:jrjackson5615012@yahoo.com"} jrjackson5615012@yahoo.com
        %br
        %br
        %p J.R. Jackson Auto Sales powered by EasyLot &copy; #{Time.now.year}.
