%header.hero
  %h1
  %h2.subheader
%footer.footer
  .row.hotrod
    .small-12.medium-6.medium-push-6.columns
      %p.logo.show-for-small-only
        %i.fi-target
        J.R. Jackson Auto Sales
      %form.footer-form
        .row
          %label.float-left Contact Us
        .row
          .small-6.columns
            %label.float-left Toll Free: (888) 724-8607
          .small-6.columns
            %label.float-left Phone: (606) 561-5012
        .row
          .small-6.columns
            %label.float-left Fax: (606) 561-8962
          .small-6.columns
            %label.float-left (Mobile): (606) 271-2149

    .small-12.medium-6.medium-pull-6.columns
      .row
        %p.logo.hide-for-small-only.title.float-left
          %i.fi-target
          J.R. Jackson Auto Sales
      .row
        %ul.contact
          %li
            %address
              5610 S. Highway 27
              %br
              Somerset, KY 42501
      %p.copyright &copy; #{Time.now.year} J.R. Jackson Auto Sales
