.row
  .col-md-12
    .form-group
      %label Announcement Title
      = form.text_field :title, placeholder: "Announcement Title", value: announcement.title, class: 'form-control'
  .col-md-12
    .form-group
      %label Announcement Message
      = form.text_area :dbody, placeholder: "Enter your Announcement Message here", rows: "8", value: announcement.body, class: 'form-control'
