.col-md-12
  .card
    .header
      %h4.title Announcements
    .content
      .table-full-width
        %table.table
          %tbody
            - announcements.each do |announcement|
              %tr
                %td
                %td= announcement.title
                %td.td-actions.text-right
                  = link_to 'Edit Announcement', edit_admin_announcement_path(announcement), class: 'btn btn-info btn-simple btn-xs', title: 'Edit Task'
                  %i.fa.fa-edit
                  = link_to 'Destroy', admin_announcement_path(announcement), class: 'btn btn-danger btn-simple btn-xs', title: 'Remove', method: :delete, data:{confirm:'are you sure you want to delete this vehicle'}
                  %i.fa.fa-times
