.row
  .col-md-12
    .form-group
      %label Footer Content
      = form.text_area :footer, placeholder: "Enter your Footer information here", rows: "8", value: setting.footer, class: 'form-control'
